.App {
  padding: 20px;
}

.resize {
  position: relative; 
  width: 300px;
  height: 300px;
  border: 1px solid rgb(248, 131, 203);
  overflow: auto;
  margin-top: 20px;
}

.resize > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  overflow:unset;
  
}

.first_div {
  display: flex;
  grid-gap: 20px;
}


